<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AWS_ACCESS_KEY</key>
	<string>$(AWS_ACCESS_KEY)</string>
	<key>AWS_SECRET_KEY</key>
	<string>$(AWS_SECRET_KEY)</string>
	<key>AWS_SESSION_TOKEN</key>
	<string>$(AWS_SESSION_TOKEN)</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>ko</string>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>WantedSans-Bold.otf</string>
		<string>WantedSans-SemiBold.otf</string>
		<string>WantedSans-Medium.otf</string>
		<string>WantedSans-Regular.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
